{% extends "base_templates.html" %}
{% block content %}
    <div class="main-header" align="left">Новости</div>
    {% for post in object_list %}
	
   <style>
   p.clip {
    	height:300px;

   }

  </style>
 </head> 
       
          <div class="row">
      <div class="span12">
         <div class="row">
          <div class="span8">
		<div class="row">
			<div class="span4" align="left"> <h4>
				<a href="{{ post.get_absolute_url }}">{{ post.header }}</a></h4>
			<p class="clip">{{ post.text|safe|truncatewords:35 }}</p></div>
      <img src="{{ post.image }}">
			<div class="span4" ><p><p align="right" class="muted">{{ post.data }}</p></p></div></div></div>
          <div class="span4" align="right"><a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://pogoda.yandex.ru/213" target="_blank"><img src="//info.weather.yandex.net/213/4_white.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a></div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

{% endblock %}
